.DS_Store
./Calculator.xcodeproj/project.xcworkspace/xcuserdata/SandDog.xcuserdatad/UserInterfaceState.xcuserstate
./Calculator.xcodeproj/project.xcworkspace/xcuserdata/rredkovich.xcuserdatad/UserInterfaceState.xcuserstate

Calculator.xcodeproj/project.xcworkspace/xcuserdata/SandDog.xcuserdatad/UserInterfaceState.xcuserstate

Calculator.xcodeproj/project.xcworkspace/xcuserdata/SandDog.xcuserdatad/UserInterfaceState.xcuserstate

Calculator.xcodeproj/project.xcworkspace/xcuserdata/rredkovich.xcuserdatad/UserInterfaceState.xcuserstate

Calculator.xcodeproj/project.xcworkspace/xcuserdata/rredkovich.xcuserdatad/UserInterfaceState.xcuserstate

Calculator.xcodeproj/project.xcworkspace/xcuserdata/SandDog.xcuserdatad/UserInterfaceState.xcuserstate
